.ui-sidebar-left {
  background-color: #D5D5D5;
  /* background-color: black; */
  /* opacity: 0.5 !important; */
  /* color: white; */
  color: black;
}
/* .ui-button {
  margin-right: 4px;
} */
/* .ui-widget-content {
  opacity: 0.5 !important;
} */
/* .ui-widget-content button, .ui-widget-content button h1 {
  opacity: 1 !important;
} */
/* .side-bar{
  background-color: blue;
  opacity: 0.5 !important;
} */
