<!-- <p>
  dashboard works!
</p> -->
<!-- <button pButton type="button" (click)="isSideBar = true" icon="pi pi-arrow-right" [hidden]=true></button>
<p-sidebar [(visible)]="isSideBar" [baseZIndex]="10000"  [modal] ="false" styleClass="side-bar">
  <h1 >Map Data</h1>
  <button pButton type="button" (click)="isSideBar = false"  class="ui-button-success" icon="pi pi-arrow-left"></button>
  <button pButton type="button" (click)="isSideBar = false" label="Information" class="ui-button-info"></button>
</p-sidebar> -->

<!-- <button type="text" (click)="isSideBar = true" pButton icon="pi pi-plus" label="Show"></button> -->
<app-map></app-map>
